---
themes: ["System", "Light", "Dark", "Cupcake", "Bumblebee", "Emerald", "Corporate", "Synthwave", "Retro", "Cyberpunk", "Valentine", "Halloween", "Garden", "Forest", "Aqua", "Lofi", "Pastel", "Fantasy", "Wireframe", "Black", "Luxury", "Dracula", "Cmyk", "Autumn", "Business", "Acid", "Lemonade", "Night", "Coffee", "Winter"]
---

{# #TODO account #}
<!doctype html>
<html
  lang="en"
  x-data="
    {
      avatar: $persist(''),
      puzzlesSolved: $persist([]),

      showTitle: $persist(false),
      themeCurrent: $persist('System'),
      resetSettings() {
        this.showTitle = false;
        this.themeCurrent = 'System';
      },

      id: parseInt(new URLSearchParams(location.search).get('id')),
    }
  "
  :data-theme="themeCurrent === 'system' ? '' : themeCurrent.toLowerCase()"
>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evilgrams - {{ title }}</title>
    {% set css %}
    {% include "src/styles/index.css" %}
    {% endset %}
  	<link rel="icon" href="https://raw.githubusercontent.com/michaelampr/jam/master/icons/table-cell-merge.svg" type="image/svg+xml">
    <style>{{ css | postcss | safe }}</style>
    <script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
    <script src="https://handsomeone.github.io/Nonogram/nonogram.min.js"></script>
  </head>
  <body x-cloak>
    <div class="navbar px-4 bg-base-300">
      <div class="flex-1 font-bold breadcrumbs">
        <ul>
          <li><a href="{{ '/' | url }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 24 24" width="32" fill="currentColor"><path d="M4,2 L2,2 L2,4 L4,4 L4,2 Z M6,2 L6,4 L8,4 L8,2 L10,2 L10,4 L12,4 L12,2 L6,2 Z M12,6 L6,6 L6,12 L12,12 L12,6 Z M4,12 L4,10 L2,10 L2,12 L4,12 Z M2,8 L4,8 L4,6 L2,6 L2,8 Z M2,0 L12,0 C13.1045695,0 14,0.8954305 14,2 L14,12 C14,13.1045695 13.1045695,14 12,14 L2,14 C0.8954305,14 0,13.1045695 0,12 L0,2 C0,0.8954305 0.8954305,0 2,0 Z"></path></svg>
            Evilgrams
          </a></li>
          {% if title === "Puzzles" %}
            <li><a href="{{ '/' | url }}#puzzles">Puzzles</a></li>
            <li x-text="id ? ('No.' + id) : 'Custom puzzle'"></li>
          {% elif title !== "Home" %}
            <li>{{ title }}</li>
          {% endif %}
        </ul>
      </div>
      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full bg-base-100 relative">
              <img x-show="avatar" :src="avatar" />
            </div>
            <svg class="absolute" x-show="!avatar" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -2 24 24" width="24" fill="currentColor"><path d="M3.534 10.07a1 1 0 1 1 .733 1.86A3.579 3.579 0 0 0 2 15.26V17a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1.647a3.658 3.658 0 0 0-2.356-3.419 1 1 0 1 1 .712-1.868A5.658 5.658 0 0 1 14 15.353V17a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3v-1.74a5.579 5.579 0 0 1 3.534-5.19zM7 0a4 4 0 0 1 4 4v2a4 4 0 1 1-8 0V4a4 4 0 0 1 4-4zm0 2a2 2 0 0 0-2 2v2a2 2 0 1 0 4 0V4a2 2 0 0 0-2-2z"></path></svg>
          </label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-300 rounded-box w-52">
            <li><label for="settings-modal">Settings</label></li>
            <li><a>Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    {{ content | safe }}
    <footer class="footer p-4 text-base-content bg-base-100">
      <div class="w-full flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 24 24" width="24" fill="currentColor"><path d="M4,2 L2,2 L2,4 L4,4 L4,2 Z M6,2 L6,4 L8,4 L8,2 L10,2 L10,4 L12,4 L12,2 L6,2 Z M12,6 L6,6 L6,12 L12,12 L12,6 Z M4,12 L4,10 L2,10 L2,12 L4,12 Z M2,8 L4,8 L4,6 L2,6 L2,8 Z M2,0 L12,0 C13.1045695,0 14,0.8954305 14,2 L14,12 C14,13.1045695 13.1045695,14 12,14 L2,14 C0.8954305,14 0,13.1045695 0,12 L0,2 C0,0.8954305 0.8954305,0 2,0 Z"></path></svg>
        <spam>Evilgrams &#169;</spam>
        | <a class="link" href="https://github.com/NNBnh/evilgrams">Source code</a>
        | <a class="link" href="https://github.com/NNBnh/evilgrams/issues">Open issue</a>
      </div>
    </footer>
  </body>
  <input type="checkbox" id="settings-modal" class="modal-toggle" />
  <label class="modal cursor-pointer" for="settings-modal">
    <label class="modal-box relative" for="">
      <div class="form-control gap-4">
        <h3 class="text-center font-bold text-lg">Settings</h3>
        <label class="label cursor-pointer">
          <span class="label-text">Show title</span>
          <input type="checkbox" class="toggle" x-model="showTitle" />
        </label>
        <div class="flex flex-col gap-1">
          <label class="label-text block">Theme:</label>
          <select class="select select-bordered w-full" x-model="themeCurrent">
            <template x-for="theme in {{ themes | dump }}">
              <option x-text="theme"></option>
            </template>
          </select>
        </div>
      </div>
      <div class="modal-action">
        <button
          class="btn"
          @click="resetSettings()"
        >Reset Settings</button>
      </div>
    </label>
  </label>
</html>